body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
  }
  .header-container {
    width: 100%;
    border-bottom: 3px solid #0d6efd;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .logout {
    margin-left: 10px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 7px;
  }
  .logout:hover {
    background-color: rgb(204, 108, 108);
    color: #fff;
    border-radius: 5px;
    border: none;
  }
  .mainContainer {
    font-family: Arial, sans-serif;
    background-color: #c5b8b8da;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    height: 100vh;
    width: 100%;
  }
  .closeBTN {
    display: none;
  }
  .createBTN {
    display: block;
  }
  .cardValue {
    display: flex;
    flex-direction: column;
  }
  .containerFilter {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 350px;
    max-height: 100%;
  }
  
  .backGroundContainer {
    background-color: c5b8b8da;
    width: 100%;
    max-height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    direction: rtl;
    padding: 10px;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 10px;
    padding: 50px;
    width: 100%;
    direction: ltr;
  }
  
  .card {
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  .card-header {
    display: flex;
    justify-content: space-between;
  }
  .close-btn:hover {
    cursor: pointer;
    color: red;
    transition: color 0.3s ease;
  }
  
  .backGroundContainer::-webkit-scrollbar {
    width: 16px;
  }
  
  .backGroundContainer::-webkit-scrollbar-track {
    background-color: #a6a5a3b7;
    border-radius: 100px;
  }
  
  .backGroundContainer::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 100px;
  }
  h1 {
    color: #0d6efd;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .params {
    display: block;
    color: #666666;
    width: 350px;
    margin-left: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="radio"] {
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0;
    margin-left: 15px;
  }
  
  .form-group div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #searchBtn {
    margin-top: 10px;
  }
  
  .footer {
    background-color: #0a53be;
    width: 100%;
  }
  
  .footer__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 32px 52px;
    width: 1400px;
  }
  .footer__content p {
    color: #f8fdfe;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  